svg{
    height: 500px;
    width: 500px;
    border: 1px solid gray;
}
line{
    shape-rendering: crispEdges;
    stroke: #000000;
}

line.minor{
    stroke: #777777;
    stroke-dasharray: 2, 2;
}

path.domain{
    fill: none;
    stroke: black;
}