body,
html{
    margin: 0;
}
canvas{
    position: absolute;
    width: 500px;
    height: 500px;
}
svg{
    position: absolute;
    width: 500px;
    height: 500px;
}
path.country{
    fill: gray;
    stroke-width: 1;
    stroke: black;
    opacity: .5;
}
path.sample{
    stroke: black;
    stroke-width: 1px;
    fill: red;
    fill-opacity: .5;
}
line.link{
    stroke-width: 1px;
    stroke: black;
    stroke-opacity: .5;
}
circle.node{
    fill: red;
    stroke: white;
    stroke-width: 1px;
}
circle.xy{
    fill: pink;
    stroke: black;
    stroke-width: 1px;
}
rect.extent{
    fill-opacity: .1;
    stroke: black;
    stroke-width: 1px;
}