body,html {
width: 100%;
height: 100%; #a
}
.svgDash {
width: 50%;
height: 50%;
background: #fcfcfc;
}

#leftSVG {
 float:left; 
}

#spreadsheet {
width: 100%;
height: 50%;
overflow:auto;
background: #fcfcfc;
}

circle.pack {
stroke: black;
stroke-width: 2px;
}

rect.bar {
fill: gray;
stroke: black;
stroke-width: 1px;
}
