<footer data-template="templates:surround" data-template-with="templates/footer.html" data-template-at="footer">
    <div class="container">
        <nav aria-label="go-next">
            <ul>
                <li>
                    <a href="http://exist-db.org">eXist-db.org</a>
                </li>
            </ul>
            <ul data-template="app:dynamicNav">
            <li class="previous">
                                <a href="#">
                                    <span aria-hidden="true">←</span> Previous</a>
                            </li>
                            <li class="blocks">
                                <a href="#">Bl.ocks.org</a>
                            </li>
                            <li class="next">
                                <a href="#">Next <span aria-hidden="true">→</span>
                                </a>
                            </li>
            </ul>
        </nav>
        <div id="copyright">
            <p>Copyright eXist-db Project 2013</p>
        </div>
    </div>
</footer>
