<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/exist-2.2.css"/>
        <link rel="stylesheet" type="text/css" href="/exist/apps/d3ia/resources/css/style.css"/>
        <link data-template="app:loadStyle"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="/exist/apps/d3ia/resources/scripts/d3.v3.min.js"/>
        <!-- actually don't need to load for every figure   -->
        <script type="text/javascript" src="/exist/apps/d3ia/resources/scripts/colorbrewer.js"/>
        <script type="text/javascript" src="/exist/apps/d3ia/resources/scripts/sankey.js"/>
        <script type="text/javascript" src="/exist/apps/d3ia/resources/scripts/d3.layout.cloud.js"/>
        <script type="text/javascript" src="/exist/apps/d3ia/resources/scripts/d3.geo.projection.min.js"/>
        <script type="text/javascript" src="/exist/apps/d3ia/resources/scripts/topojson.js"/>
        <script type="text/javascript" src="/exist/apps/d3ia/resources/scripts/tile.js"/>
        <script type="text/javascript" src="/exist/apps/d3ia/resources/scripts/queue.js"/>
    </head>
    <body id="grey-top">
        <div class="grey-bot">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header">
                        <a href="/" id="logo">eXistDB</a>
                    </div>
                </div>
                <div class="row">
                    <nav class="navbar navbar-default" role="navigation">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                        </button>
                        <div class="navbar-collapse collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown" id="about">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/exist/apps/d3ia/index.html">Home</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/test.html">TEST</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ch.
                                        1 &amp; 2<span class="caret"/>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">Chapter 1</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_01_17.html">Figure 17</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_01_20.html">Figure 20</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_01_21.html">Figure 21</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_01_22.html">Figure 22</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_01_26.html">Figure 26</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_01_27.html">Figure 27</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_01_32.html">Figure 32</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_01_34.html">Figure 34</a>
                                        </li>
                                        <li role="separator" class="divider"/>
                                        <li class="dropdown-header">Chapter 2</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_11.html">Figure 11</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_12.html">Figure 12</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_13.html">Figure 13</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_14.html">Figure 14</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_15.html">Figure 15</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_16.html">Figure 16</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_17.html">Figure 17</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_18.html">Figure 18</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_21.html">Figure 21</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_22.html">Figure 22</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_23.html">Figure 23</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_25.html">Figure 25</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_02_27.html">Figure 27</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ch.
                                        3 &amp; 4<span class="caret"/>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">Chapter 3</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_03_02.html">Figure 02</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_03_03.html">Figure 03</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_03_05.html">Figure 05</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_03_08.html">Figure 08</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_03_09.html">Figure 09</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_03_11.html">Figure 11</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_03_16.html">Figure 16</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_03_18.html">Figure 18</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_03_19.html">Figure 19</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_03_24.html">Figure 24</a>
                                        </li>
                                        <li role="separator" class="divider"/>
                                        <li class="dropdown-header">Chapter 4</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_03.html">Figure 03</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_04.html">Figure 04</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_05.html">Figure 05</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_07.html">Figure 07</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_09.html">Figure 09</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_12.html">Figure 12</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_14.html">Figure 14</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_16.html">Figure 16</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_17.html">Figure 17</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_19.html">Figure 19</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_20.html">Figure 20</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_22.html">Figure 22</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_23.html">Figure 23</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_24.html">Figure 24</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_04_25.html">Figure 25</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ch.
                                        5 &amp; 6<span class="caret"/>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">Chapter 5</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_02.html">Figure 02</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_05.html">Figure 05</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_06.html">Figure 06</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_10.html">Figure 10</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_12.html">Figure 12</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_15.html">Figure 15</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_16.html">Figure 16</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_17.html">Figure 17</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_21.html">Figure 21</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_22.html">Figure 22</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_24.html">Figure 24</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_28.html">Figure 28</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_05_30.html">Figure 30</a>
                                        </li>
                                        <li role="separator" class="divider"/>
                                        <li class="dropdown-header">Chapter 6</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_06_04.html">Figure 04</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_06_06.html">Figure 06</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_06_08.html">Figure 08</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_06_21.html">Figure 21</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ch.
                                        7 &amp; 8<span class="caret"/>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">Chapter 7</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_07_02.html">Figure 02</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_07_03.html">Figure 03</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_07_07.html">Figure 07</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_07_08.html">Figure 08</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_07_10.html">Figure 10</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_07_12.html">Figure 12</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_07_15.html">Figure 15</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_07_17.html">Figure 17</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_07_19.html">Figure 19</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_07_20.html">Figure 20</a>
                                        </li>
                                        <li role="separator" class="divider"/>
                                        <li class="dropdown-header">Chapter 8</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_08_02.html">Figure 02</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_08_03.html">Figure 03</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_08_04.html">Figure 04</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_08_05.html">Figure 05</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_08_06.html">Figure 06</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_08_08.html">Figure 08</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_08_09.html">Figure 09</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_08_10.html">Figure 10</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_08_11.html">Figure 11</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ch.
                                        9 &amp; 10<span class="caret"/>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">Chapter 9</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_09_02.html">Figure 02</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_09_04.html">Figure 04</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_09_07.html">Figure 07</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_09_10.html">Figure 10</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_09_13.html">Figure 13</a>
                                        </li>
                                        <li role="separator" class="divider"/>
                                        <li class="dropdown-header">Chapter 10</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_10_03.html">Figure 03</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_10_04.html">Figure 04</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_10_05.html">Figure 05</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_10_12.html">Figure 12</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ch.
                                        11 &amp; (12)<span class="caret"/>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">Chapter 11</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_11_02.html">Figure 02</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_11_04.html">Figure 04</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_11_05.html">Figure 05</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_11_06.html">Figure 06</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_11_09.html">Figure 09</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_11_10.html">Figure 10</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_11_12.html">Figure 12</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_11_14.html">Figure 14</a>
                                        </li>
                                        <li role="separator" class="divider"/>
                                        <li class="dropdown-header">Chapter 12</li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_12_01.html">Figure 01</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_12_02.html">Figure 02</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_12_03.html">Figure 03</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_12_04.html">Figure 04</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_12_05.html">Figure 05</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_12_06.html">Figure 06</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_12_08.html">Figure 08</a>
                                        </li>
                                        <li>
                                            <a href="/exist/apps/d3ia/figures/Fig_12_09.html">Figure 09</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div id="content" class="row"/>
            </div>
        </div>
        <a id="poweredby" href="http://exist-db.org"/>
        <div class="figures-pager" data-template="app:figures">
            <nav aria-label="go-next" data-template="app:hideEmpty">
                <ul class="pager">
                    <li class="previous" data-template="app:previous"/>
                    <li data-template="app:blocks"/>
                    <li class="next" data-template="app:next"/>
                </ul>
            </nav>
        </div>
        <div id="footer">
            <div class="container">
                <ul>
                    <li>
                        <a href="http://exist-db.org">eXist-db.org</a>
                    </li>
                </ul>
                <div id="copyright">
                    <p>Copyright eXist-db Project 2013</p>
                </div>
            </div>
        </div>
    </body>
</html>